<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<div>
		<h2>Welcome home, <%= user.username%></h2> 		
	</div>

	
	<a href="/home/view_users">view users</a> |
	<a href="/home/addUser">Add User</a> |
	<a href="/home/add_class">Add Class</a> |
	<a href="">Add Subject</a> |
	<a href="">Add Staff</a> |
	<a href="">View Staff</a> |
	<a href="">Set Exam</a> |
	<a href="">View Exam</a> |
	<a href="">View Student</a> |
	<a href="">Change password</a> |
	<a href="">Student Details</a> |
	
	<a href="/logout">Logout</a><br>
	
	EmpName: <%= user.name%><br>
	company: <%= user.companyName%><br>
	contact: <%= user.contact%> <br>
	Username:  <%= user.username %> <br>
	Id: <%= user.id %> <br>
	Password: <%= user.password %> <br>
	Type: <%= user.type %>
</body>
</html>