<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <div>
        <center><h1>Search Employee</h1></center> 		
</div>

    <a href="/home">Back</a>|
    <a href="/logout">Logout</a><br>
    

    <table>
		<tr>
			<td>ID: </td>
			<td><input type="text" readonly name="id" value="<%= user.id %>"></td>
		</tr>

		<tr>
			<td>EmpName: </td>
			<td><input type="text"  name="name" value="<%= user.name %>"></td>
		</tr>

		<tr>
			<td>CompanyName: </td>
			<td><input type="text"  name="companyName" value="<%= user.companyName %>"></td>
		</tr>

		<tr>
			<td>Contact: </td>
			<td><input type="text"  name="contact" value="<%= user.contact %>"></td>
		</tr>


		<tr>
			<td>Username: </td>
			<td><input type="text" name="username" value="<%= user.username %>"></td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type="text" name="password" value="<%= user.password %>"></td>
		</tr>
		<tr>
			<td>Type: </td>
			<td><input type="text" name="type" value="<%= user.type %>"></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="submit" name="" value="Update"> 
			</td>
		</tr>
	</table>
</body>
</html>